<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="main.css"/>
</head>
<body>
    <h1>Global warming tweet sentiment analysis</h1>
    <div class="textAreaDiv">
        <form action="/result" method="post">
            <p>Enter your thoughts on global warming: <br/>
            <label for="tweetComment">Global warming tweet:</label></p>
            <textarea name="tweet" rows="10" cols="40">
            </textarea>
            <br>
            <input type="submit" value="Predict">
            <p>Click the "Predict" button and the system will predict
                the sentiment of the input text".</p>
        </form>
    </div>
</body>


